* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main{
  width: 1140px;
  margin : auto;
  min-height: 500px;
}


/***************************************************/
/* 게시글 메인화면 */




/* header */
header{
  height: 200px;
  display: flex;
  flex-direction: row;
}


header > section:nth-child(1){ width: 15%;}
header > section:nth-child(2){ width: 70%;}
header > section:nth-child(3){ width: 15%; }




/* 로고 */
header > section:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
 
}


#homeLogo{
  width: 120px;
  height: auto; /* 이미지 기본 비율에 맞게 자동 지정 */
}


/***************************************************/
/* Board Nav */


/* nav */
nav{
  height: 50px;
  position: sticky;
  /* 화면 밖으로 벗어났을 때
  지정된 위치에 고정*/
 
  top : 0; /* 최상단에 붙임 */
 
  background-color: white;
  border-bottom: 2px solid black;
  z-index: 1000;
}


nav > ul{
  display: flex;
 
  /* li 태그 앞에 기호 삭제 */
  list-style: none;
  height: 100%;
}




nav li{
  flex : 0 1 150px;
  /* grow shrink basis */
}


nav a{
  text-decoration: none;
  color : black;
  font-size: 18px;
  font-weight: bold;
  padding : 11px 0;
  display: block;
  text-align: center;
 
  border-radius: 5px;
  transition-duration: 0.1s;
  height: 100%;
}




nav a:hover{
  color : white;
  background-color: #455ba8;
}




/***************************************************/
/* 메인 - 로그인화면 */


/* content */
.main.content{
  height: 800px;
  display: flex;
 
  /* flex 지정 시 기본값 */
  flex-direction: row;
  justify-content: flex-start;
  /* flex-start : flex요소에만 사용 가능한 정렬 방식 */
  /* start : block요소, flex, grid 등에서도 적용 가능한 정렬 방식 */
  align-items: stretch;
}


.main .content-1{
  flex-basis: 70%;
  padding : 20px;
}
.main .content-2{ flex-basis: 30%;}


.main .content-1 > *{
  margin-bottom: 20px;
}


.main .content-1 > pre{
  font-size: 1rem;
  font-family: '고딕';
}


/* 로그인 영역 */
.main .content-2 > div{
  height: 150px;
  padding : 10px;
  margin-top : 10px;


  display: flex;
  flex-direction: column;
  justify-content: center;
}


.main .id-pw-area{
  border: 1px solid #ccc;
  display: flex;


  /* 중심축 방향 크기 지정 */
  flex-basis: 60%;
}


/* id/pw 입력 영역*/
.main .id-pw-area > section:first-child{
  width: 75%;
  display: flex;
  flex-direction: column;
}


.main .id-pw-area > section:first-child > input{
  border : 0;
  border-right : 1px solid #ccc;
  flex-basis: 50%;
  outline: none;
  padding: 5px;
}


/* id input 태그 */
.main input[name='inputId']{
  border-bottom : 1px solid #ccc !important;
}


/* id/pw에 초점이 맞춰졌을 때 */
.main .id-pw-area > section:first-child > input:focus{
  border: 2px solid #455ba8 !important;
}




/* 로그인 버튼 영역 */
.main .id-pw-area > section:last-child{
  width: 25%;
  display: flex;
  justify-content: center;
}


/* 로그인 버튼 */
.main .id-pw-area > section:last-child > button{
  width: 100%;
  background-color: white;
  cursor: pointer;
  border : none;
}


/* 로그인 버튼에 마우스가 올라갔을 때 */
.main .id-pw-area > section:last-child > button:hover{
  background-color: #455ba8;
  color: white;
}
