@font-face {
    font-family: 'KCCBangJeonghwan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-2@1.0/KCCBangJeonghwan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+PT+Guides&display=swap');

#size-test > li:nth-child(1){font-size:24px;}
#size-test > li:nth-child(2){font-size:18pt;}
#size-test > li:nth-child(3){font-size:150%;}
#size-test > li:nth-child(4){font-size:1.5em;}
/* 크롬브라우저 기준 
    기본 글꼴 크기 : 16px */

/* font-weight */
#weight-test >li{
    font-size: 34px;
}
#weight-test>li:nth-child(1){font-weight: 600;}
#weight-test>li:nth-child(2){font-weight: bold;}
#weight-test>li:nth-child(3){font-weight: bolder;}
#weight-test>li:nth-child(4){font-weight: lighter;}
#weight-test>li:nth-child(5){
    font-weight: normal;
    font-style: oblique;
    /* font-style : 글꼴의 모양을 지정하는 속성 */
    /* italic : 폰트에서 제공하는 비스듬한 글자 */
    /* oblique : 강제로 글자를 비스듬하게 */
}

/* font-family */
.cls>li{font-size:24px;}

#family-test1>li:nth-child(1){
    font-family: '궁서'; /* 설치된 폰트인 경우 */
}

#family-test1>li:nth-child(2){
    font-family: '바닐라라떼체';
     /* 없는 폰트인 경우 기본 폰트로 설정됨 */
}

#family-test1>li:nth-child(3){
    font-family: '바닐라라떼체','굴림체';
}

/* 웹폰트 */
/* link 태그를 이용한 방법 */

#family-test2>li:nth-child(1){
    font-family: "Open Sans", sans-serif;
}

/* @import */
#family-test2>li:nth-child(2){
    font-family: "Playwrite PT Guides", cursive;
}

/* @font-face 이용 */
#family-test2>li:nth-child(3){
    font-family: 'KCCBangJeonghwan';
}