    /* border:1px solid black; */
.top{
    margin-left:130px;
}

.float-right{
    width:50px;
    height:50px;
    background-color: rgb(255,255,255);
    float : right;
    /* 오른쪽으로 먼저 작성된 요소가 쌓이기 때문에
        출력되는 순서가 반대로 보임 */
    display :flex;
    }
.search-bar{
    margin : auto;
    display : flex;
}
.mids{
    display: flex;
    margin-top: 20px;
}
.mid{
    padding : 10px 20px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
}    

.fixed-area{
    width:120px;
    
    text-align: center;

    position:fixed;

    bottom:50px;
    right:50px;
    
    background-color: #1f1f1f0f;
}

.fixed-area>a{
    color:#041e49;
}
